# Import data

In [1]:
# Import pandas
import pandas as pd

In [2]:
FILE_PATHS = [r'dataset\2020 Annual Campaign - Archived.csv', r'dataset\2021 Annual Campaign - Archived.csv']

In [3]:
df_2020 = pd.read_csv(FILE_PATHS[0])
df_2021 = pd.read_csv(FILE_PATHS[1])
df_2020.head()

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F),Unnamed: 18
0,427,398,460,3,26.06,09/26/2020,Individual,David Aguero,St. Jude Children's Research Hospital,Memphis,4044 Saint Ann Circle,TN,38117,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),NaN,NaN
1,314,305,347,3,100.00,08/01/2020,Individual,Claire Aguilar,NaN,NaN,NaN,NaN,53711,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),NaN,NaN
2,3576,3217,3628,3,50.00,02/24/2022,Individual,Nancy Allen,NaN,Cottage Grove,2077 Uphoff Road,WI,53527,2020 Annual Campaign,General Operating,Unrestricted,PayPal,NaN,NaN
3,168,183,201,3,7.45,02/21/2020,Company,NaN,Amazon,NaN,NaN,NaN,NaN,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,NaN,NaN
4,357,183,390,3,8.38,08/13/2020,Company,NaN,Amazon,NaN,NaN,NaN,NaN,2020 Annual Campaign,General Operating,Unrestricted,Check,NaN,NaN

In [4]:
df_2020.drop(axis=1, columns=['Unnamed: 18'], inplace=True) # No idea why this column exists
df_2021.drop(axis=1, columns=['Unnamed: 18'], inplace=True)

# Heads()

In [5]:
df_2020.head(5)

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F)
0,427,398,460,3,26.06,09/26/2020,Individual,David Aguero,St. Jude Children's Research Hospital,Memphis,4044 Saint Ann Circle,TN,38117,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),NaN
1,314,305,347,3,100.00,08/01/2020,Individual,Claire Aguilar,NaN,NaN,NaN,NaN,53711,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),NaN
2,3576,3217,3628,3,50.00,02/24/2022,Individual,Nancy Allen,NaN,Cottage Grove,2077 Uphoff Road,WI,53527,2020 Annual Campaign,General Operating,Unrestricted,PayPal,NaN
3,168,183,201,3,7.45,02/21/2020,Company,NaN,Amazon,NaN,NaN,NaN,NaN,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,NaN
4,357,183,390,3,8.38,08/13/2020,Company,NaN,Amazon,NaN,NaN,NaN,NaN,2020 Annual Campaign,General Operating,Unrestricted,Check,NaN

In [6]:
df_2021.head(5)

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F)
0,652,549,685,5,100.00,02/03/2021,Company,Blackbaud Giving Fund,American Family Dreams Foundation,Charleston,65 Fairchild St.,SC,29492,2021 Annual Campaign,General Operating,NaN,Check,NaN
1,767,660,800,5,26.06,02/22/2021,Individual,John Beck and Casey DiTroia,NaN,NaN,NaN,NaN,53703,2021 Annual Campaign,General Operating,NaN,Credit Card (Online),NaN
2,847,740,880,5,12.00,02/25/2021,Individual,Candy Anderson,NaN,Edgerton,1547 County Road A,WI,53534,2021 Annual Campaign,General Operating,NaN,Credit Card (Online),NaN
3,2894,2593,2946,5,25.00,11/30/2021,Individual,Courtney Bajakian,NaN,Sun Prairie,432 Major Way,WI,53590,2021 Annual Campaign,General Operating,NaN,PayPal,NaN
4,2852,2585,2904,5,25.00,10/20/2021,Individual,Ellen Baum,NaN,Madison,6433 Inner Drive,WI,53705,2021 Annual Campaign,General Operating,NaN,PayPal,NaN

# Idk random data investigation

In [7]:
df_2020.describe() # Tribute Full Name is empty lmao

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Tribute Full Name (F)
count,408.000000,408.000000,408.000000,408.0,408.000000,0.0
mean,752.093137,592.411765,787.431373,3.0,154.256667,NaN
std,1548.605187,1106.671856,1557.908467,0.0,407.035786,NaN
min,143.000000,15.000000,175.000000,3.0,4.000000,NaN
25%,259.750000,207.750000,292.750000,3.0,25.000000,NaN
50%,367.500000,312.500000,400.500000,3.0,50.000000,NaN
75%,472.250000,396.250000,505.250000,3.0,103.300000,NaN
max,9319.000000,7801.000000,9399.000000,3.0,5000.000000,NaN

In [8]:
df_2021.describe() # yeah also empty

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Tribute Full Name (F)
count,461.000000,461.000000,461.000000,461.0,461.000000,0.0
mean,2856.537961,968.945770,2900.550976,5.0,96.808265,NaN
std,1695.871730,1084.905111,1703.826213,0.0,259.433013,NaN
min,544.000000,12.000000,577.000000,5.0,4.000000,NaN
25%,2571.000000,193.000000,2604.000000,5.0,25.000000,NaN
50%,2759.000000,367.000000,2809.000000,5.0,25.000000,NaN
75%,2917.000000,2356.000000,2969.000000,5.0,51.800000,NaN
max,9393.000000,7099.000000,9473.000000,5.0,3000.000000,NaN

# Focus on 2020 dataset first

## Find the state/province that donated the most in total

In [9]:
df_2020_cleaned_state = df_2020.copy()
df_2020_cleaned_state.fillna('Unknown', inplace=True)
df_2020_cleaned_state = df_2020_cleaned_state.applymap(lambda x: x.strip() if isinstance(x, str) else x) # strip everything
df_2020_cleaned_state.head()

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F)
0,427,398,460,3,26.06,09/26/2020,Individual,David Aguero,St. Jude Children's Research Hospital,Memphis,4044 Saint Ann Circle,TN,38117,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown
1,314,305,347,3,100.00,08/01/2020,Individual,Claire Aguilar,Unknown,Unknown,Unknown,Unknown,53711,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown
2,3576,3217,3628,3,50.00,02/24/2022,Individual,Nancy Allen,Unknown,Cottage Grove,2077 Uphoff Road,WI,53527,2020 Annual Campaign,General Operating,Unrestricted,PayPal,Unknown
3,168,183,201,3,7.45,02/21/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,Unknown
4,357,183,390,3,8.38,08/13/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown

In [10]:
df_2020_cleaned_state.groupby('State/Province').agg({'Donation Amount': 'sum'}).reset_index().sort_values(by='Donation Amount', ascending=False)
# Wisconsin donated in total 38080.33, a lot more than other states
# Update 10/31: lots of Unknown donations wtf

  State/Province  Donation Amount
8             WI         38080.33
7        Unknown         17890.74
6             TX          6037.47
3             MN           301.06
4             OH           275.00
2             FL           150.00
0             CA           126.06
1             DC            50.00
5             TN            26.06

In [11]:
df_2020_cleaned_state.groupby('State/Province').agg({'Donation ID': 'count'}).reset_index().sort_values(by='Donation ID', ascending=False)
# Wisconsin donated 303 times, a hell lot more than others, with Minnesota coming in 2nd at 12
# Update 10/31: lots of Unknown donations

  State/Province  Donation ID
8             WI          303
7        Unknown           81
3             MN           12
6             TX            5
0             CA            2
4             OH            2
1             DC            1
2             FL            1
5             TN            1

In [12]:
df_2020_cleaned_state.groupby('Account Type').agg({'Donation Amount': 'sum'}).reset_index()
# Companies donated much less in total

  Account Type  Donation Amount
0      Company         18779.46
1   Individual         44157.26

In [13]:
df_2020_cleaned_state.groupby('Account Type').agg({'Donation ID': 'count'}).reset_index()
# Only 10 companies donated lmao
# Update: 30 companies donated, I forgot to account for unknown guys

  Account Type  Donation ID
0      Company           30
1   Individual          378

In [14]:
df_2020_cleaned_state[df_2020_cleaned_state['Account Type'] == 'Company']
# At first glance, most companies donations are Unknown

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F)
3,168,183,201,3,7.45,02/21/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,Unknown
4,357,183,390,3,8.38,08/13/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
5,265,267,298,3,150.00,05/07/2020,Company,Unknown,American Family Insurance Dreams Foundation,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
51,156,175,188,3,250.00,02/26/2020,Company,Unknown,C.H. Robinson,Madison,4009 Felland Rd,WI,53718,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
106,458,27,491,3,1007.00,10/05/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
107,167,27,200,3,370.00,02/21/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,Unknown
108,169,27,202,3,2477.00,01/07/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,Unknown
109,170,27,203,3,391.00,01/01/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,Unknown
110,358,27,391,3,150.00,07/18/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
111,555,27,588,3,570.00,11/04/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
112,554,27,587,3,525.00,12/03/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
113,359,27,392,3,1065.00,05/05/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,Unknown
114,384,27,417,3,1015.00,09/04/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
115,552,27,585,3,475.00,12/17/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
116,457,27,490,3,815.00,10/21/2020,Company,Unknown,Facebook Fundraising,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
118,523,455,556,3,200.00,12/17/2020,Company,Jill Mork,Family First Chiropractic of Verona,Verona,1029 N Edge Trail,WI,53593,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
123,303,294,336,3,250.00,06/29/2020,Company,Mark Thiss,Fidelity Charitable,Cincinnati,P.O. Box 770001,OH,45277,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
124,417,294,450,3,100.00,09/10/2020,Company,Unknown,Fidelity Charitable,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
164,524,456,557,3,50.00,12/17/2020,Company,Unknown,"Holistic Healing Pagoda, LLC",Verona,303 S. Jefferson St.,WI,53593,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
222,266,268,299,3,1460.00,04/27/2020,Company,Unknown,Longtable Beer Cafe,Middleton,7545 Hubbard Ave,WI,53562,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
236,157,176,189,3,500.00,02/26/2020,Company,Brad Niebuhr,M3 Insurance,Waunakee,2102 Kilkenny Trail,WI,53597,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
256,461,417,494,3,250.00,10/20/2020,Company,Unknown,Middleton Outreach Ministry,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
262,155,174,187,3,200.00,02/26/2020,Company,Julie Wilson,Mount Horeb United Methodist Church,Mount Horeb,9542 County Hwy S,WI,53572,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
267,442,408,475,3,720.00,10/01/2020,Company,Unknown,Musgrave Law Office,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
275,159,177,191,3,500.00,02/26/2020,Company,Nordic Consulting Partners,Nordic Consulting Partners,Madison,2601 W. Beltline Hwy,WI,53713,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
294,459,415,492,3,880.30,10/21/2020,Company,Unknown,PayPal Giving Fund,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
295,485,415,518,3,293.33,11/24/2020,Company,Unknown,PayPal Giving Fund,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
328,270,272,303,3,100.00,05/08/2020,Company,Unknown,Salesforce,San Francisco,415 Mission Street,CA,94105,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
356,460,416,493,3,500.00,10/19/2020,Company,Unknown,St. Martin's Council of Catholic Women,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown
372,264,266,297,3,3500.00,05/07/2020,Company,Unknown,TASC Employee Philanthropy Committee,Madison,2302 International Ln,WI,53794,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown

In [15]:
df_2020_cleaned_state_wionly = df_2020_cleaned_state[df_2020_cleaned_state['State/Province'] == 'WI']
df_2020_cleaned_state_wionly['City'] = df_2020_cleaned_state_wionly['City'].astype(str)
df_2020_cleaned_state_wionly['City'] = df_2020_cleaned_state_wionly['City'].apply(lambda x : x.lower()) # make city names all lowercase
df_2020_cleaned_state_wionly['City'] = df_2020_cleaned_state_wionly['City'].apply(lambda x : x.strip()) # apply strip

C:\Users\nghia\AppData\Local\Temp\ipykernel_29448\2072398091.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_cleaned_state_wionly['City'] = df_2020_cleaned_state_wionly['City'].astype(str)
C:\Users\nghia\AppData\Local\Temp\ipykernel_29448\2072398091.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_cleaned_state_wionly['City'] = df_2020_cleaned_state_wionly['City'].apply(lambda x : x.lower()) # make city names all lowercase
C:\Users\nghia\AppData\Local\Temp\ipykernel_29448\2072398091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_cleaned_state_wionly['City'] = df_2020_cleaned_state_wionly['City'].apply(lambda x : x.strip()) # apply strip

In [16]:
df_2020_cleaned_state_wionly.groupby('City').agg({'Donation Amount': 'sum'}).reset_index().sort_values(by='Donation Amount', ascending=False)
# Madison city donated the most

               City  Donation Amount
17          madison         15015.29
22        middleton          6353.58
37           verona          6320.36
39         waunakee          2129.11
32        reedsburg          1561.19
10        fitchburg          1078.60
3         cambridge           990.91
19        mcfarland           670.60
23           monona           526.06
35      sun prairie           516.33
29           oregon           437.13
34        stoughton           280.72
25      mount horeb           277.55
31   prairie du sac           226.06
7          deforest           154.43
4     cottage grove           132.01
2          brodhead           126.80
28        oak creek           125.00
36          unknown           125.00
6         cuba city           103.71
30          portage           103.30
15       lake mills           103.30
1        belleville           103.30
9          fitchbur           100.00
27       new glarus            75.00
16             lodi            75.00
38         waukesha            51.80
18         marshall            50.00
8        eau claire            30.00
12       greenfield            26.06
11         franklin            26.06
20  menomonee falls            26.06
33        sauk city            25.00
40          windsor            25.00
21           mequon            25.00
14          kenosha            25.00
24    morrisonville            12.67
5      cross plains            12.67
0        beaver dam            12.67
26           neenah            12.00
13       janesville            10.00

In [17]:
df_2020_cleaned_state_wionly[df_2020_cleaned_state_wionly['City'] == 'unknown'] # Highlighting the unknown donations of WI, not much

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F)
103,219,224,252,3,100.0,03/19/2020,Individual,Jeremy Egner,Unknown,unknown,Unknown,WI,53575,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown
400,206,211,239,3,25.0,03/18/2020,Individual,Heidi Williamson,Unknown,unknown,Unknown,WI,53713,2020 Annual Campaign,General Operating,Unrestricted,PayPal,Unknown

In [18]:
df_2020_cleaned_state_wionly.groupby('City').agg({'Donation ID': 'count'}).reset_index().sort_values(by='Donation ID', ascending=False)
# Madison donated the most
# I would like to map these on a heatmap, but idk how to do that

               City  Donation ID
17          madison          136
37           verona           48
22        middleton           19
3         cambridge           16
10        fitchburg            9
39         waunakee            9
35      sun prairie            6
34        stoughton            5
28        oak creek            5
23           monona            5
29           oregon            4
19        mcfarland            4
7          deforest            3
4     cottage grove            3
25      mount horeb            2
31   prairie du sac            2
2          brodhead            2
36          unknown            2
27       new glarus            1
0        beaver dam            1
30          portage            1
32        reedsburg            1
33        sauk city            1
38         waukesha            1
26           neenah            1
20  menomonee falls            1
24    morrisonville            1
21           mequon            1
1        belleville            1
18         marshall            1
16             lodi            1
15       lake mills            1
14          kenosha            1
13       janesville            1
12       greenfield            1
11         franklin            1
9          fitchbur            1
8        eau claire            1
6         cuba city            1
5      cross plains            1
40          windsor            1

# Now focus on 2021 dataset

In [19]:
df_2021_cleaned_state = df_2021.copy()
df_2021_cleaned_state.fillna('Unknown', inplace=True)
df_2021_cleaned_state.head()

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F)
0,652,549,685,5,100.00,02/03/2021,Company,Blackbaud Giving Fund,American Family Dreams Foundation,Charleston,65 Fairchild St.,SC,29492,2021 Annual Campaign,General Operating,Unknown,Check,Unknown
1,767,660,800,5,26.06,02/22/2021,Individual,John Beck and Casey DiTroia,Unknown,Unknown,Unknown,Unknown,53703,2021 Annual Campaign,General Operating,Unknown,Credit Card (Online),Unknown
2,847,740,880,5,12.00,02/25/2021,Individual,Candy Anderson,Unknown,Edgerton,1547 County Road A,WI,53534,2021 Annual Campaign,General Operating,Unknown,Credit Card (Online),Unknown
3,2894,2593,2946,5,25.00,11/30/2021,Individual,Courtney Bajakian,Unknown,Sun Prairie,432 Major Way,WI,53590,2021 Annual Campaign,General Operating,Unknown,PayPal,Unknown
4,2852,2585,2904,5,25.00,10/20/2021,Individual,Ellen Baum,Unknown,Madison,6433 Inner Drive,WI,53705,2021 Annual Campaign,General Operating,Unknown,PayPal,Unknown

In [20]:
df_2021_cleaned_state.groupby('State/Province').agg({'Donation Amount': 'sum'}).reset_index().sort_values(by='Donation Amount', ascending=False)
# WI donated most money
# Update 10/31: Unknown located a lot lmao, then comes TX donated most second

  State/Province  Donation Amount
7             WI         29465.29
6        Unknown          8234.46
5             TX          4072.98
4             SC          1845.00
2             MN           627.86
1             MA           201.80
3             NY           129.42
0             IL            51.80

In [21]:
df_2021_cleaned_state.groupby('State/Province').agg({'Donation ID': 'count'}).reset_index().sort_values(by='Donation ID', ascending=False)
# WI donated the most, MN comes in 2nd
# Update 10/31: Unknown donated at second

  State/Province  Donation ID
7             WI          388
6        Unknown           26
2             MN           24
5             TX           14
3             NY            3
4             SC            3
1             MA            2
0             IL            1

In [22]:
df_2021_cleaned_state.groupby('Account Type').agg({'Donation Amount': 'sum'}).reset_index()

  Account Type  Donation Amount
0      Company          9462.32
1   Individual         35166.29

# Compare 2020 and 2021 side by side

In [23]:
df_2020_cleaned_state['Year'] = 2020 # Add year number to help with combining
df_2021_cleaned_state['Year'] = 2021
df_2020_cleaned_state.head()

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F),Year
0,427,398,460,3,26.06,09/26/2020,Individual,David Aguero,St. Jude Children's Research Hospital,Memphis,4044 Saint Ann Circle,TN,38117,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown,2020
1,314,305,347,3,100.00,08/01/2020,Individual,Claire Aguilar,Unknown,Unknown,Unknown,Unknown,53711,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown,2020
2,3576,3217,3628,3,50.00,02/24/2022,Individual,Nancy Allen,Unknown,Cottage Grove,2077 Uphoff Road,WI,53527,2020 Annual Campaign,General Operating,Unrestricted,PayPal,Unknown,2020
3,168,183,201,3,7.45,02/21/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,Unknown,2020
4,357,183,390,3,8.38,08/13/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown,2020

In [24]:
df_combined = pd.concat([df_2020_cleaned_state, df_2021_cleaned_state])
df_combined

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F),Year
0,427,398,460,3,26.06,09/26/2020,Individual,David Aguero,St. Jude Children's Research Hospital,Memphis,4044 Saint Ann Circle,TN,38117,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown,2020
1,314,305,347,3,100.00,08/01/2020,Individual,Claire Aguilar,Unknown,Unknown,Unknown,Unknown,53711,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown,2020
2,3576,3217,3628,3,50.00,02/24/2022,Individual,Nancy Allen,Unknown,Cottage Grove,2077 Uphoff Road,WI,53527,2020 Annual Campaign,General Operating,Unrestricted,PayPal,Unknown,2020
3,168,183,201,3,7.45,02/21/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,Unknown,2020
4,357,183,390,3,8.38,08/13/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,784,677,817,5,51.80,02/23/2021,Individual,Stanley York,Unknown,Madison,6225 Mineral Point Road,WI,53705,2021 Annual Campaign,General Operating,Unknown,Credit Card (Online),Unknown,2021
457,2821,2578,2873,5,120.00,09/17/2021,Company,Unknown,YourCause,Charleston,65 Fairchild St.,SC,29492,2021 Annual Campaign,General Operating,Unknown,Check,Unknown,2021
458,2334,2227,2367,5,103.30,02/25/2021,Individual,Tibor Zana,Unknown,Madison,6229 Countryside Lane,WI,537051025,2021 Annual Campaign,General Operating,Unknown,Credit Card (Online),Unknown,2021
459,2720,2535,2760,5,260.46,06/18/2021,Individual,Jodi Zander,Allure Skin Health LLC,Sun Prairie,804 Liberty Blvd,WI,53590,2021 Annual Campaign,General Operating,Unknown,Credit Card (Online),Unknown,2021
460,2706,2526,2740,5,103.30,05/27/2021,Individual,Paul Zarnikow,None,LODI,N1985 MORTER RD,WI,53555,2021 Annual Campaign,General Operating,Unknown,Credit Card (Online),Unknown,2021

In [25]:
df_combined_grouped = df_combined.groupby(['State/Province', 'Year']).agg({'Donation Amount': 'sum', 'Donation ID': 'count'}).reset_index().sort_values(by='Year')

In [26]:
df_combined_grouped['Donation Amount in 2020'] = df_combined_grouped['Donation Amount'] * (df_combined_grouped['Year'] == 2020)
df_combined_grouped['Donation Count in 2020'] = df_combined_grouped['Donation ID'] * (df_combined_grouped['Year'] == 2020)
df_combined_grouped['Donation Amount in 2021'] = df_combined_grouped['Donation Amount'] * (df_combined_grouped['Year'] == 2021)
df_combined_grouped['Donation Count in 2021'] = df_combined_grouped['Donation ID'] * (df_combined_grouped['Year'] == 2021)
df_combined_grouped.drop(axis=1, columns=['Donation ID'], inplace=True)

df_combined_grouped

,State/Province,Year,Donation Amount,Donation Amount in 2020,Donation Count in 2020,Donation Amount in 2021,Donation Count in 2021
0,CA,2020,126.06,126.06,2,0.00,0
13,Unknown,2020,17890.74,17890.74,81,0.00,0
11,TX,2020,6037.47,6037.47,5,0.00,0
10,TN,2020,26.06,26.06,1,0.00,0
15,WI,2020,38080.33,38080.33,303,0.00,0
8,OH,2020,275.00,275.00,2,0.00,0
2,FL,2020,150.00,150.00,1,0.00,0
1,DC,2020,50.00,50.00,1,0.00,0
5,MN,2020,301.06,301.06,12,0.00,0
6,MN,2021,627.86,0.00,0,627.86,24
7,NY,2021,129.42,0.00,0,129.42,3
4,MA,2021,201.80,0.00,0,201.80,2
9,SC,2021,1845.00,0.00,0,1845.00,3
3,IL,2021,51.80,0.00,0,51.80,1
12,TX,2021,4072.98,0.00,0,4072.98,14
14,Unknown,2021,8234.46,0.00,0,8234.46,26
16,WI,2021,29465.29,0.00,0,29465.29,388

In [27]:
donation_by_state_2020 = df_combined_grouped.groupby('State/Province').agg({'Donation Amount in 2020': 'sum'}).reset_index().sort_values(by='Donation Amount in 2020', ascending=False)
donation_by_state_2020 = donation_by_state_2020[donation_by_state_2020['Donation Amount in 2020'] > 0]
donation_by_state_2020

   State/Province  Donation Amount in 2020
12             WI                 38080.33
11        Unknown                 17890.74
10             TX                  6037.47
5              MN                   301.06
7              OH                   275.00
2              FL                   150.00
0              CA                   126.06
1              DC                    50.00
9              TN                    26.06

In [28]:
donation_by_state_2020[donation_by_state_2020['State/Province'] != 'Unknown'].to_csv('intermediate_csvs/donation_by_state_2020.csv', index=False)
# Export the file, will import to Tableau bcuz Geopandas refused to work

In [29]:
donation_by_state_2021 = df_combined_grouped.groupby('State/Province').agg({'Donation Amount in 2021': 'sum'}).reset_index().sort_values(by='Donation Amount in 2021', ascending=False)
donation_by_state_2021 = donation_by_state_2021[donation_by_state_2021['Donation Amount in 2021'] > 0]
donation_by_state_2021

   State/Province  Donation Amount in 2021
12             WI                 29465.29
11        Unknown                  8234.46
10             TX                  4072.98
8              SC                  1845.00
5              MN                   627.86
4              MA                   201.80
6              NY                   129.42
3              IL                    51.80

In [30]:
donation_by_state_2021[donation_by_state_2021['State/Province'] != 'Unknown'].to_csv('intermediate_csvs/donation_by_state_2021.csv', index=False)

# Let's also export donations amount by cities (All states!) for both 2020-2021

In [31]:
df_2020_cleaned_state

,Donation ID,Account ID,Shopping Cart ID,Campaign ID,Donation Amount,Donation Date,Account Type,Full Name (F),Company Name,City,Address Line 1,State/Province,Zip Code,Campaign Name,Purpose,Fund,Tender Type,Tribute Full Name (F),Year
0,427,398,460,3,26.06,09/26/2020,Individual,David Aguero,St. Jude Children's Research Hospital,Memphis,4044 Saint Ann Circle,TN,38117,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown,2020
1,314,305,347,3,100.00,08/01/2020,Individual,Claire Aguilar,Unknown,Unknown,Unknown,Unknown,53711,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown,2020
2,3576,3217,3628,3,50.00,02/24/2022,Individual,Nancy Allen,Unknown,Cottage Grove,2077 Uphoff Road,WI,53527,2020 Annual Campaign,General Operating,Unrestricted,PayPal,Unknown,2020
3,168,183,201,3,7.45,02/21/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Wire Transfer,Unknown,2020
4,357,183,390,3,8.38,08/13/2020,Company,Unknown,Amazon,Unknown,Unknown,Unknown,Unknown,2020 Annual Campaign,General Operating,Unrestricted,Check,Unknown,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,240,244,273,3,75.00,03/22/2020,Individual,Kenny Wong,Epic Systems,Unknown,Unknown,Unknown,53719,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown,2020
404,195,200,228,3,75.00,03/18/2020,Individual,Jennifer Woods,Unknown,New Glarus,401 8th St,WI,53574,2020 Annual Campaign,General Operating,Unrestricted,PayPal,Unknown,2020
405,543,468,576,3,51.80,12/31/2020,Individual,Jonathan Woolums,Unknown,Verona,309 Amanda Way,WI,53593,2020 Annual Campaign,General Operating,Unrestricted,Credit Card (Online),Unknown,2020
406,423,314,456,3,50.00,09/23/2020,Individual,Kelly Wroblewski,Unknown,McFarland,5202 Falling Leaves Lane,WI,53558,2020 Annual Campaign,General Operating,Unrestricted,PayPal,Unknown,2020
407,324,314,357,3,50.00,08/10/2020,Individual,Kelly Wroblewski,Unknown,McFarland,5202 Falling Leaves Lane,WI,53558,2020 Annual Campaign,General Operating,Unrestricted,PayPal,Unknown,2020

In [32]:
df_2020_loc = df_2020_cleaned_state[['State/Province', 'City', 'Donation Amount']]
df_2020_loc['City'] = df_2020_loc['City'].apply(lambda x: x.lower())
df_2020_loc = df_2020_loc[(df_2020_loc['City'] != 'unknown') & (df_2020_loc['State/Province'] != 'Unknown')]
df_2020_loc.to_csv('intermediate_csvs/df_2020_loc.csv', index=False)
df_2020_loc

C:\Users\nghia\AppData\Local\Temp\ipykernel_29448\997060520.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_loc['City'] = df_2020_loc['City'].apply(lambda x: x.lower())

    State/Province           City  Donation Amount
0               TN        memphis            26.06
2               WI  cottage grove            50.00
6               WI         oregon            51.80
9               DC     washington            50.00
12              WI        madison            26.06
..             ...            ...              ...
402             WI        madison           309.27
404             WI     new glarus            75.00
405             WI         verona            51.80
406             WI      mcfarland            50.00
407             WI      mcfarland            50.00

[325 rows x 3 columns]

In [33]:
df_2021_loc = df_2021_cleaned_state[['State/Province', 'City', 'Donation Amount']]
df_2021_loc['City'] = df_2021_loc['City'].apply(lambda x : x.lower())
df_2021_loc = df_2021_loc[(df_2021_loc['City'] != 'unknown') & (df_2021_loc['State/Province'] != 'Unknown')]
df_2021_loc.to_csv('intermediate_csvs/df_2021_loc.csv', index=False)
df_2021_loc

C:\Users\nghia\AppData\Local\Temp\ipykernel_29448\3485894344.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021_loc['City'] = df_2021_loc['City'].apply(lambda x : x.lower())

    State/Province          City  Donation Amount
0               SC    charleston           100.00
2               WI      edgerton            12.00
3               WI   sun prairie            25.00
4               WI       madison            25.00
5               WI  cross plains            26.06
..             ...           ...              ...
456             WI       madison            51.80
457             SC    charleston           120.00
458             WI       madison           103.30
459             WI   sun prairie           260.46
460             WI          lodi           103.30

[435 rows x 3 columns]